/* GERAL */
* {
margin: 0;
padding: 0;
}

html, body {
overflow-x: hidden;
width: 100%;
}

body::-webkit-scrollbar {
display: none;
}

body {
font-family: Averia Libre, sans-serif;
font-style: normal;
color: #333;
}

/* MENU DE NAVEGAÇÃO */
header {
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 1%;
margin-right: 2%;
margin-bottom: 5%;
white-space: nowrap;
flex-direction: row;
width: 100%;
box-shadow: 5px 0px 1px 0px black;
}

.logo img {
width: 100%;
}

.menu {
gap: 2%;
font-size: 1rem;
font-weight: bold;
color: #000;
margin-top: 1.5%;
width: 80%;
}

.menu li {
margin-right: 2%;
}

.menu li:hover {
color: #7AB3CC;
}

.gap {
margin-right: 1%;
}

ul.navbar-nav {
align-items: baseline;
padding:0;
}

a {
text-decoration: none;
color: black;
}

span#burguer {
display: none;
}

/* CONTEUDO  */
/* .container-galeria {
    background-color: hsl(0, 0%, 100%);
    margin-left: 15%;
    margin-right:15%;

} */
/* TÍTULOS DA GALERIA */
.galeria-titulo {
  text-align: center;
  margin-bottom: 2rem;
      
}

.galeria-titulo h1 {
  font-size: 2.5rem;
  color: #7AB3CC;
  margin-bottom: 0.5rem;
}

.galeria-titulo h2 {
  font-size: 1.3rem;
  color: #444;
  font-weight: 400;
}

/* LAYOUT DOS CARDS */
.galeria-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  max-width: 660px; /* limite para duas colunas */
  margin: 0 auto;
}

.box-fotos {
  flex: 0 0 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.box-fotos img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #7AB3CC;
}

/* Responsividade para tablets e mobile */
@media (max-width: 768px) {
  .galeria-cards {
    max-width: 100%;
    padding: 1rem;
  }

  .box-fotos {
    flex: 0 0 90%; /* um card por linha, quase toda a largura */
    max-width: 90%;
    margin: 0 auto;
  }

  .box-fotos img {
    height: 180px; /* altura menor em telas menores */
  }
}


.box-fotos:hover {
  transform: scale(1.03);
}

/* Títulos da galeria */
.galeria-titulo {
  text-align: center;
  margin: 0 auto 2rem; /* Centraliza a caixa */
  background-image: url(../img/fundo\ tampinhas\ azul\ claro.jpg);
  padding: 30px 40px;
  /* max-width: 800px;
  border-radius: 20px;
  box-shadow: 0 4px 12px #7AB3CC; */
}

.galeria-titulo h1 {
  font-size: 2.3rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
  text-shadow: #3f3f3f 3px 3px;
}

.galeria-titulo h2 {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 400;

}

/* Responsivo */
@media (max-width: 768px) {
  .box-fotos {
    width: 80%;
  }

  .box-fotos img {
    height: 160px;
  }

  .galeria-titulo h1 {
    font-size: 1.8rem;
  }

  .galeria-titulo h2 {
    font-size: 1rem;
  }
}

/* RODAPÉ  */
.footer {
background-image: url(../img/fundo-tamp-coloridas.png);
background-size: cover;
color: rgb(0, 0, 0);
text-align: center;
padding: 20px 0;
position: relative;
bottom: 0;
width: 100%;
box-shadow: #333 0px 0px 10px;
}

.container-footer {
background-color: white;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

#pegadaspet {
width: 200%;
height: auto;
margin-bottom: 10px;
}

.logo-footer {
flex: 1;
}

.contato-footer {
flex: 1;
}

button {
background-color:#7AB3CC;
color: white;
border: none;
border-radius: 3px;
padding: 10px 20px;
font-size: 1rem;
cursor: pointer;
}

button:hover {
background-color: #7AB3CC;
}

.redes-sociais-footer {
flex: 1;
font-size: 1.2rem;
font-weight: bold;
margin-right: 2%;

}

.social-icons  {
display: flex;
align-items: center;
margin-left: 15%;
}

#facebook, #instagram, .redes-sociais, .symbol {
align-items: center;
margin-top: 2%;
margin-bottom: 2%;
margin-left: 2%;
margin-right: 2%;
}

@media (min-width: 768px) and (max-width: 1199px) { /* TABLETE */ 
    /* GERAL  */
    * { 
    margin: 0;
    padding: 0;
    }

    html, body {
    overflow-x: hidden;
    width: 100%;
    }

    body::-webkit-scrollbar {
    display: none;
    }

    body {
    font-family: Averia Libre, sans-serif;
    font-style: normal;
    color: #333;
    } 

    /* MENU DE NAVEGAÇÃO  */
    header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-left: 1%;
    margin-right: 2%;
    white-space: nowrap;
    flex-direction: column;
    }

    .logo img {
    margin-left: 5%;
    display:flex;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    }

    .menu {
    display: none;
    gap: 2%;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    box-shadow: #333 0px 0px 5px;
    border-radius: 2px; 
    position: absolute;
    z-index: 1000;
    background-color: white;
    left: 15%;
    }

    .menu li {
    align-items: center;
    width: 20%;
    margin: 0;
    padding: 0;
    }

    .menu li:hover {
    color: #7AB3CC;
    }

    span#burguer {
    display: flex;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #000;
    justify-content: center;
    }

    span#burguer:hover {
    color: #7AB3CC;
    }

    .gap {
    display: none;
    margin-right: 1%;
    }

    .navbar-nav {
    padding: 0;
    align-items: center;
    }

    a {
    text-decoration: none;
    color: black;
    }

    /* RODAPÉ  */
    .footer { 
    background-image: url(../img/fundo-tamp-coloridas.png);
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: #333 0px 0px 10px;
    }

    .container-footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }

    #pegadaspet {
    display: none;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    }

    .logo-footer img {
    width: 80%;
    }

    .contato-footer {
    flex: 1;
    padding: 10px 10px;
    }

    .descricao-seja-parceiro {
    font-size: 0.9rem;
    }

    button {
    background-color: #7AB3CC;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    }

    button:hover {
    background-color: #7AB3CC;
    }

    .redes-sociais-footer {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 2%;
    }

    .descricao-redes-sociais {
    white-space: nowrap; 
    font-weight: bold;
    }

    div.social-icons  {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    }

    .redes-sociais {
    display: none;
    }

    #facebook, #instagram, .redes-sociais, .symbol {
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    }
    
}  

@media (max-width: 767px) { /* MOBILE */
    /* GERAL */
    * {
    margin: 0;
    padding: 0;
    }

    html, body {
    overflow-x: hidden;
    width: 100%;
    }

    body::-webkit-scrollbar {
    display: none;
    }

    body {
    font-family: Averia Libre, sans-serif;
    font-style: normal;
    color: #333;
    }

    /* MENU DE NAVEGAÇÃO */
    header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-left: 1%;
    margin-right: 2%;
    flex-direction: column;
    }

    .logo img {
    margin-left: 5%;
    display: flex;
    width: 100%;
    }

    .menu {
    display: none;
    gap: 2%;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    margin-top: 1.5%;
    box-shadow: #333 0px 0px 5px;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    transition: all 0.3s ease;
    z-index: 1000; 
    background-color: white;
    right: 2%;
    }

    .menu li {
    margin-right: 2%;
    }

    .menu li:hover {
    background-color: #7AB3CC;
    }

    span#burguer {
    display: flex;
    cursor: pointer;
    justify-content: center;
    color: #000;
    }

    span#burguer:hover {
    color: #7AB3CC;
    }

    .gap {
    display: none;
    margin-right: 1%;
    }

    .navbar-nav {
    padding: 0;
    align-items: center;
    }

    a {
    text-decoration: none;
    color: black;
    }

    /* RODAPÉ  */
    .footer {
    background-image: url(../img/fundo-tamp-coloridas.png);
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: #333 0px 0px 10px;
    }

    .container-footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }

    #pegadaspet {
    display: none;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    }

    .logo-footer img {
    width: 80%;
    }

    .contato-footer {
    font-size: 0.5rem;
    text-align: center;
    padding: 10px 10px;
    }

    button {
    background-color: #7AB3CC;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    }

    button:hover {
    background-color: #7AB3CC;
    }

    h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    }

    .descricao-seja-parceiro {
    display: none;
    }

    .redes-sociais-footer {
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    }

    .redes-sociais {
    display: none;
    }

    #facebook {
    margin-right: 10px;
    }

    .symbol {
    display: none;
    }

    .descricao-redes-sociais {
    display: none;
    }

    .form {
    padding: 5px 10px;
    font-size: small;
    } 

}